body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-title h1 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 50px;
}

.weather-title img {
  margin-left: 20px;
  font-size: 50px;
  margin-top: -15px;
}

.date {
  font-size: 20px;
  margin: 0px;
  padding-bottom: 5px;
}

.temperature {
  font-size: 30px;
}

.weather-unit {
  font-size: 12px;
  position: relative;
  top: -12px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: #000;
  cursor: default;
}

.maximum {
  font-weight: bolder;
}

.weather-app {
  border: solid 1px #5c94bd;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
  max-width: 600px;
}

.container small {
  padding: 30px;
  margin: 0px;
}
