body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
  font-weight: 800;
  margin: 0px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.main-icon {
  font-size: 70px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.date {
  font-size: 20px;
  margin: 0px;
  padding-bottom: 5px;
}

.temperature {
  font-size: 30px;
}

.weather-unit {
  font-size: 12px;
  position: relative;
  top: -12px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: #000;
  cursor: default;
}

.Weekdays {
  padding: 15px;
}
.fa-sun {
  color: #fbe555;
}

.fa-cloud-sun {
  color: #7f78d2;
}

.fa-wind {
  color: #5f6769;
}

.weekday {
  font-size: 20px;
  font-weight: bold;
}

.maximum {
  font-weight: bolder;
}

.weather-app {
  border: solid 1px #5c94bd;
  border-radius: 20px;
  padding: 30px;
}
